@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Rough Battle';
    src: url('RoughBattle.eot');
    src: url('RoughBattle.eot?#iefix') format('embedded-opentype'),
    url('RoughBattle.woff2') format('woff2'),
    url('RoughBattle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

